.quantity-container {
  display: flex;
}

.rating-container {
  display: flex;
  align-items: center;
}

.rating-icon {
  color: #fcae30;
  margin-right: 8px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product-item-container {
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px 40px;
}

.product-item-container img {
  width: 500px;
}

.details-container {
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-left: 40px;
  margin-right: 100px;
}

.details-container h1 {
  font-size: 45px;
}

.details-container p {
  font-size: 18px;
}

.cart-btn {
  align-self: flex-start;
  margin-top: 60px;
  background-color: #0070c1;
  color: white;
  border-width: 0px;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  font-size: 17px;
}

.btn {
  background-color: transparent;
  border-width: 0px;
  padding: 0px;
  margin: 10px;
}

.circle {
  width: 60px;
}
